graft src
graft stb
graft Loxoc
graft glad

include LICENSE
include readme.md
include *.glsl
include requirements.txt
include pyproject.toml

global-exclude *.pyd

exclude .env*
exclude Loxoc/core.cpp

prune __pycache__
prune */__pycache__ 